body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background-color: #fff;
    width: 100px;
    height: 100px;
    transition-property: background;
    transition-duration: 2s;
    transition-delay: 3s;
    transition-timing-function: ease-in-out;
}
.box:hover {
    background-color: red;
}