body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.side{
    border: 1px solid black;
    list-style: none;
    border-radius: 10px;
    width: 500px;
    padding: 20px 10px;
    max-height: 300px;
}
.side li {
    font-size: 30px;
    border: 1px dotted grey;
}
.side li a:hover{
    color: rgb(230, 30, 30);
}