*{
    display: block;
}
a{
    text-decoration: none;
    color: rgb(86, 35, 204);
}
a:hover{
    color: black;
}
.btn{
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2p dashed black;
}
#div{
    width: fit-content;
}